<section class="block--dark hero hero--container">
    <div class="container grid grid--1x2">
        <img class="hero__image" src="/HtmlCssDemolproject/images/forestSky.jpg" alt="">
        <div class="hero__text-content">
            <h1 class="hero__heading">An Imaginary Cloud Hosting Company</h1>
            <p class="hero__description">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Suscipit pariatur animi
            </p>
            <a href="#" class="btn btn--primary">Get Started</a>
        </div>
    </div>
</section>
<div class="block--card card--container">
    <div class="card">
        <img class="card__image" src="/HtmlCssDemolproject/images/forestSky.jpg" alt="">
        <div class="card__body">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Labore nobis aliquam nostrum </p>
        </div>
    </div>
    <div class="card">
        <img class="card__image" src="/HtmlCssDemolproject/images/img_5terre_wide.jpg" alt="">
        <div class="card__body">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequuntur ipsum eum,
        </div>
    </div>
    <div class="card">
        <img class="card__image" src="/HtmlCssDemolproject/images/img_lights_wide.jpg" alt="">
        <div class="card__body">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora cupiditate qui laborum
        </div>
    </div>
    <div class="card">
        <img class="card__image" src="/HtmlCssDemolproject/images/img_lights_wide.jpg" alt="">
        <div class="card__body">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora cupiditate qui laborum
        </div>
    </div>
    <div class="card">
        <img class="card__image" src="/HtmlCssDemolproject/images/img_lights_wide.jpg" alt="">
        <div class="card__body">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora cupiditate qui laborum
        </div>
    </div>
    <div class="card">
        <img class="card__image" src="/HtmlCssDemolproject/images/img_lights_wide.jpg" alt="">
        <div class="card__body">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora cupiditate qui laborum
        </div>
    </div>
    <div class="card">
        <img class="card__image" src="/HtmlCssDemolproject/images/img_lights_wide.jpg" alt="">
        <div class="card__body">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora cupiditate qui laborum
        </div>
    </div>
    <div class="card">
        <img class="card__image" src="/HtmlCssDemolproject/images/img_lights_wide.jpg" alt="">
        <div class="card__body">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora cupiditate qui laborum
        </div>
    </div>
    <div class="card">
        <img class="card__image" src="/HtmlCssDemolproject/images/img_mountains_wide.jpg" alt="">
        <div class="card__body">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati harum exercitationem
        </div>
    </div>
    <div class="card">
        <img class="card__image" src="/HtmlCssDemolproject/images/img_nature_wide.jpg" alt="">
        <div class="card__body">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        </div>
    </div>
</div>