<nav class="navbar collapsible block--dark">
    <div class="navbar__content flex">
        <div class="flex--1x2 navbar__icon">
            <img src="/icons/reactjs.svg" alt="" class="navbar__image logo">
            <img src="/icons/chevron-selector-vertical-dot-svgrepo-com.svg" alt="" class="navbar__image icon">

        </div>
        <ul class="list navbar__list">
            <li class="navbar__item">Hosting </li>
            <li class="navbar__item">Pricing</li>
            <li class="navbar__item">Subscribe</li>
            <li class="navbar__item">Contact Us</li>
            <li class="navbar__item">Sign Up </li>
        </ul>
    </div>
</nav>